    body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('bg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    cursor: pointer;font-family: montserrat;
}
.pass {
  border: 1px solid#000;
  width: 100%;
  height:100%;
  position: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.pass input {
  font-family: montserrat;
  border: 2px solid#d08bff;
  background: #000;
  border-radius: 9px;
  text-align: center;
  color: #d08bff;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 70px;
  font-size: 1.5em;
}
.pass button {
  font-family: montserrat;
  color: #d08bff;
  background: #000;
  border: 2px solid #d08bff;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 150px;
  height: 35px;
  font-size: 1em;
  z-index: 10;
}


    button:hover {
        box-shadow: 0 0 5px #ff00ff, 0 0 25px #ff00ff, 0 0 50px #ff00ff, 0 0 100px #ff00ff, 0 0 200px #ff00ff;
        background: #ffffff;
        color: #ff00ff;
    }
    p {
      color: fff;
      display: none;
      font-size: 2em;
    }
    @font-face {
      font-family: montserrat;
      src: url('montserrat')
    }
