    body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bg1.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.bottom-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.animated-image {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out; 
}

.animated-image.show {
    opacity: 1;
    transform: translateY(0);
}

/* p1 */
#p1i1 {
    width: 350px;
}
#p1i2{
    width: 350px;
}
#p1i3{
    width: 90px;
}
#p1i4{
    width: 350px;
}

/* p2 */
#p2i1{
    width: 350px;
}
#p2i2{
    width: 350px;
}
#p2i3{
    width: 90px;
}
#p2i4{
    width: 350px;
}

/* p3 */
#p3i1{
    width: 350px;
}
#p3i2{
    width: 350px;
}
#p3i3{
    width: 350px;
}
#p3i4{
    width: 350px;
}

/* p4 */
#p4i1{
    height: 90%;
}

        button{
        color: #000;
        background: linear-gradient( to right top, #ff00ff, #ffffffbb, #ff00ff);        
        padding: 8px 20px;
        border: 1px solid #000;
        border-radius: 6px;
        
        margin-left: 15px;
        margin-right: 15px;
        width: 200px;
        height: 50px;        
        font-size: 30px;
        font-family: font;
    }
    
    button:hover {
        box-shadow: 0 0 5px #ffffffb3, 0 0 25px #ffffffb3, 0 0 50px #ffffffb3, 0 0 100px #ffffffb3, 0 0 200px #ffffffb3;
    }
