body, html {
    margin: 0;
    padding: 0;
    background: url('bgi.png');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container {
    position: relative;
    height: 100vh; 
    width: 100vw;
    text-align: center;
}

.gambar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 70vw;
    animation: mengambang 3s ease-in-out infinite;
}


@keyframes mengambang {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0); 
    }
}

.btn {
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    background-color: magenta;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e60073;
}
